<div ng-include="'/smartkitchens/view/html/views/dashboard/summary.html'"></div>
<scriptr-grid
              columns-definition= "vm.colDef" 
              row-model-type='virtual'
              pagination='true'
              suppress-filter='true'
              enable-sorting='false'
              cell-editable='true'
              grid-height='calc(100vh - 200px)'
              enable-client-side-filter='false'
              enable-server-side-filter='false' 
              enable-server-side-sorting='false'
              row-model-selection='multiple'
              pagination-page-size='100'
              transport='https' 
              default-cell-renderer="vm.defaultCellRenderer"  
              api='smartkitchens/api/zoho/listDeviceTickets'
              api-params="vm.gridParams"
              on-format-data="vm.ticketsCallback">
</scriptr-grid>
